<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<title>Lista de Cadastrados</title>
</head>
<body>

	<h2>Sistema de Gerenciamento</h2>

1. Para voltar à página inicial, <a href="/">CLIQUE AQUI</a><p/>

2. Para cadastrar salas, <a href="/paginaSala">CLIQUE AQUI</a><p/>

3. Para voltar à página de cadastro de pessoal, <a href="/cadastropessoa">CLIQUE AQUI</a><p/>


	
	<div th:each="m : ${msg}">
		<span th:text="${m}" style="color: #556B2F; font-weight: bold;"></span>
	</div><p/>

<h2>Pesquisar por nome</h2>


  
<div class="row">
	<form action="/pesquisarpessoa" method="post" class="col s12">
		<div class="row">					
			<div class="input-field col s6">			
				<select name="filtro" id="filtro" required>
					<option value="">Selecione...</option>
					<option value="1">Pessoa</option>
					<option value="2">Sala etapa 1</option>
					<option value="3">Sala etapa 2</option>
					<option value="4">Espaço café</option>
				</select>
				<label>
				Selecione um filtro específico
				</label>
			</div>		
	
			<div class="input-field col s6">				
				<input name="campoFiltro" autofocus placeholder="Digite filtro..." />
			</div>
		</div>	

		<div class="row">		
			<div class="input-field col s6">
					<button id="btnBuscar" class="waves-effect waves-light btn">Buscar</button>				
			</div>
			<div class="col s6">				
				<a href="/distribuir" class="waves-effect waves-light btn">DISTRIBUIR PESSOAL POR SALAS</a>
			</div>
		</div>
	</form>	
</div>


<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
});
</script>
	
<h2>Listagem de Pessoal</h2>

<table>
	<thead>
		<tr bgcolor="#26A69A" >
			<th>Id</th>
			<th>Nome</th>
			<th>Sobrenome</th>
			<th>Espaço Café</th>
			<th>Sala 1</th>
			<th>Sala 2</th>
		</tr>
	</thead>

	<tbody>
		<tr th:each = "pessoa : ${pessoas}">
			<td th:text="${pessoa.id}"></td>
			<td th:text="${pessoa.nomePessoa}"></td>
			<td th:text="${pessoa.sobrenomePessoa}"></td>
			<td th:text="${pessoa.nomeCafe}"></td>
			<td th:text="${pessoa.nomeSala1}"></td>
			<td th:text="${pessoa.nomeSala2}"></td>
		</tr>
	</tbody>
</table>

</body>
</html>